
brazil-exports/data/comtrade/1994-hs6-h3.dta
brazil-exports/data/comtrade/1994-hs6.csv
brazil-exports/data/comtrade/1995-hs6-h3.dta
brazil-exports/data/comtrade/1995-hs6.csv
brazil-exports/data/comtrade/1996-hs6-h3.dta
brazil-exports/data/comtrade/1996-hs6.csv
brazil-exports/data/comtrade/1997-hs6-h3.dta
brazil-exports/data/comtrade/1997-hs6.csv
brazil-exports/data/comtrade/1998-hs6-h3.dta
brazil-exports/data/comtrade/1998-hs6.csv
brazil-exports/data/comtrade/1999-hs6-h3.dta
brazil-exports/data/comtrade/1999-hs6.csv
brazil-exports/data/comtrade/2000-hs6-h3.dta
brazil-exports/data/comtrade/2000-hs6.csv
brazil-exports/data/comtrade/2001-hs6-h3.dta
brazil-exports/data/comtrade/2001-hs6.csv
brazil-exports/data/comtrade/2002-hs6-h3.dta
brazil-exports/data/comtrade/2002-hs6.csv
brazil-exports/data/comtrade/2003-hs6-h3.dta
brazil-exports/data/comtrade/2003-hs6.csv
brazil-exports/data/comtrade/2004-hs6-h3.dta
brazil-exports/data/comtrade/2004-hs6.csv
brazil-exports/data/comtrade/2005-hs6-h3.dta
brazil-exports/data/comtrade/2005-hs6.csv
brazil-exports/data/comtrade/2006-hs6-h3.dta
brazil-exports/data/comtrade/2006-hs6.csv
brazil-exports/data/comtrade/2007-hs6-h3.dta
brazil-exports/data/comtrade/2007-hs6.csv
brazil-exports/data/comtrade/2008-hs6-h3.dta
brazil-exports/data/comtrade/2008-hs6.csv
brazil-exports/data/comtrade/2009-hs6-h3.dta
brazil-exports/data/comtrade/2009-hs6.csv
brazil-exports/data/comtrade/2010-hs6-h3.dta
brazil-exports/data/comtrade/2010-hs6.csv
brazil-exports/data/comtrade/2011-hs6-h3.dta
brazil-exports/data/comtrade/2011-hs6.csv
brazil-exports/data/comtrade/2012-hs6-h3.dta
brazil-exports/data/comtrade/2012-hs6.csv
brazil-exports/data/comtrade/2013-hs6-h3.dta
brazil-exports/data/comtrade/2013-hs6.csv
brazil-exports/data/comtrade/2014-hs6-h3.dta
brazil-exports/data/comtrade/2014-hs6.csv
brazil-exports/data/comtrade/2015-hs6-h3.dta
brazil-exports/data/comtrade/2015-hs6.csv
brazil-exports/data/comtrade/2016-hs6-h3.dta
brazil-exports/data/comtrade/2016-hs6.csv
brazil-exports/data/comtrade/2017-hs6-h3.dta
brazil-exports/data/comtrade/2017-hs6.csv
brazil-exports/data/comtrade/2018-hs6-h3.dta
brazil-exports/data/comtrade/2018-hs6.csv
brazil-exports/data/comtrade/2019-hs6-h3.dta
brazil-exports/data/comtrade/2019-hs6.csv
brazil-exports/data/comtrade/2020-hs6-h3.dta
brazil-exports/data/comtrade/2020-hs6.csv
brazil-exports/data/comtrade/panel-hs6-isic3.dta
brazil-exports/data/comtrade/panel-isic3-3d.dta
*.dta
dynamic-adjustment-trade-shocks/eu-tariffs/data/AVMFN/JobID-42039_MFN_H2_GAB_2004.CSV
/dynamic-adjustment-trade-shocks/eu-tariffs/data
/brazil-exports/data
/auxilio-emergencial/shapefiles
/brazil-exports/geo
/dynamic-adjustment-trade-shocks/eu-tariffs/trottner/temp_files
